{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn", "cva"],
  "importOrder": [
    "<TYPES>",
    "^(react/(.*)$)|^(react$)|^(react-native(.*)$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "<TYPES>^@",
    "^@/(.*)$",
    "",
    "<TYPES>^[.|..|~]",
    "^~/",
    "^[../]",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy",
    "importAssertions"
  ],
  "importOrderTypeScriptVersion": "4.4.0"
}
